ion-header {
  background-color: #0b96ed;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  margin: 0 0 10px 0;
  font-size: 16px;
}

ion-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

ion-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}

ion-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
}

.ion-text-center {
  text-align: center;
}

.ion-select-option {
  padding: 10px;
}

.ion-select-option:hover {
  background-color: #eee;
}

.ion-select-option.selected {
  background-color: #0b96ed;
  color: #fff;
}

.total {
  text-align: center;
  font-weight: bold;
  background-color: rgb(0, 255, 191);
  padding: 10px;
}

.dari {
  text-align: center;
}
